#giveRolesContainer {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    flex-direction: column;
    height: 100vh; /* Prend toute la hauteur de la page */
    width: 100%; /* Prend toute la largeur de la page */
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #2ba8fb;
}

form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%; /* Prend la largeur complète de son conteneur */
    max-width: 500px; /* Limite la largeur à un maximum de 500px */
    margin: 20px;
}

form .form-row {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

form select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

form select:focus {
    border-color: #2ba8fb;
    box-shadow: 0 0 5px rgba(43, 168, 251, 0.5);
}

button.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #2ba8fb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #2ba8fb;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}
