#showProject-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#showProject {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 900px;
    overflow: hidden;
    margin-bottom: 5%;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #333;
}

#showProject img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#project-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

#project-actions a {
    padding: 10px 15px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

#project-actions a:hover {
    background-color: #0056b3;
}

#project-actions i:hover {
    color: black;
}

.tableProject {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.tableProject th,
.tableProject td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tableProject th {
    background-color: #f4f4f4;
    color: #555;
    font-weight: bold;
}

.tableProject tr:last-child td {
    border-bottom: none;
}

.tableProject td {
    font-size: 14px;
    color: #333;
    text-wrap: pretty;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
}

.tableProject td img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-left: 8px;
    vertical-align: middle;
}

.tableProject a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;

}

.tableProject a:hover {
    color: #0056b3;
}


.techLogo{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.technos{
    display: flex;
    flex-direction: row;
}

#project-actions form button {
    background-color: #dc3545;
    border: none;
    color: #f9f9f9;
}

#project-actions form button:hover {
    background-color: #c82333;
    transform: translateY(-2px);
    color: black;
}

#link {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}